.result-container{
  background-color: var(--dark-blue);
  padding-top: 29px;
  padding-right: 24px;
  padding-left: 30px;
  padding-bottom: 22px;
  margin-top: 0;
  margin-bottom: 24px;

  

  border-radius: 10px;

  text-align: right;
  font-size: 40px;
  

  @media only screen and (min-width: 768px) {
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 36px;
    font-size: 56px;
  }
}
.result {
margin: 0;

}

.body-light{
  .result-container{
    background-color: var(--very-light);
  }
}

.body-violet{
  .result-container{
    background-color: var(--violet);
  }
}

.keyboard {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--blue);
  border-radius: 10px;

  @media only screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.body-light{
  .keyboard{
    background-color: var(--light-grey);
  }
}

.body-violet{
  .keyboard{
    background-color: var(--violet);
  }
}

.list-main-keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 13px;
  row-gap: 13px;
  margin-bottom: 13px;

  @media only screen and (min-width: 768px) {
    column-gap: 25px;
    row-gap: 24px;
    margin-bottom: 24px;
  }
}

.btn {
  font-family: inherit;
  width: 60px;
  height: 64px;

  border: none;
  border-radius: 5px;
  box-shadow: 0px -4px 0px 0px var(--beige-shading) inset;

  background-color: var(--beige);
  color: var(--grey);
  font-size: 32px;
  
  @media only screen and (min-width: 768px) {
    width: 101px;

    font-size: 40px;
  
  }
}
.body-light{
  .btn{
  box-shadow: 0px -4px 0px 0px var(--dark-grayish-orange) inset;
  background-color: var(--light-grayish-yellow);
  color: var(--very-dark-grayish-yellow);
  }
}

.body-violet{
  .btn{
  box-shadow: 0px -4px 0px 0px var(--dark-magenta) inset;
  background-color: var(--darker-violet);
  color: var(--light-yellow);
  }
}

.btn-delete {
  box-shadow: 0px -4px 0px 0px var(--light-blue-shading) inset;

  background-color: var(--light-blue);
  color: var(--white);
  font-size: 20px;
  text-transform: uppercase;

  @media only screen and (min-width: 768px) {
    font-size: 28px;
  }
}

.body-light{
  .btn-delete{
    box-shadow: 0px -4px 0px 0px var(--very-dark-cyan) inset;

  background-color: var(--dark-moderate-cyan);
  color: var(--white);
  }
}

.body-violet{
  .btn-delete{
    box-shadow: 0px -4px 0px 0px var(--vivid-magenta) inset;

  background-color: var(--dark-violet);
  color: var(--white);
  }
}

.list-action-btn {
  
  display: flex;
  justify-content: center;
  gap: 13px;

  @media only screen and (min-width: 768px) {
    gap: 24px;
  }
}
.btn-action {
  font-family: inherit;
  width: 133px;
  height: 64px;

  border: none;
  border-radius: 5px;
  background: var(--light-blue);
  box-shadow: 0px -4px 0px 0px var(--light-blue-shading) inset;

  color: var(--white);
  font-size: 20px;
  letter-spacing: -0.001em;

  @media only screen and (min-width: 768px) {
    width: 227px;

    font-size: 28px;
  }
}

.body-light{
  .btn-action {
    box-shadow: 0px -4px 0px 0px var(--very-dark-cyan) inset;

  background-color: var(--dark-moderate-cyan);
  color: var(--white);
  }
}

.body-violet{
  .btn-action{
    box-shadow: 0px -4px 0px 0px var(--vivid-magenta) inset;

  background-color: var(--dark-violet);
  color: var(--white);
  }
}

.btn-reset {
    text-transform: uppercase;
}
.btn-equals {
    background: var(--accent-red);
    box-shadow: 0px -4px 0px 0px var(--accent-red-shading) inset;

}

.body-light{
  .btn-equals{
    background: var(--grayish-red);
    box-shadow: 0px -4px 0px 0px var(--dark-orange) inset;

  }
}

.body-violet{
  .btn-equals{
    background: var(--soft-cyan);
    box-shadow: 0px -4px 0px 0px var(--pure-cyan) inset;
    color: var(--very-dark-blue);
  }
}
