:root{
    // basic theme
--dark-grey: #3A4663;
--dark-blue: #181F33;
--light-blue: #647198;
--light-blue-shading:#414E73;
--white: #FFFFFF;
--grey: #434A59;
--blue:#242D44;
--beige: #EAE3DC;
--beige-shading: #B3A497;
--accent-red: #D03F2F;
--accent-red-shading: #93261A; 

// light theme
--light-grey:#D2CDCD;
--grayish-red: #C85402;
--very-light-grey:#E6E6E6;
--dark-moderate-cyan: #378187;
--very-dark-cyan: #1B6066;
--orange: #C85402;
--dark-orange: #873901;
--light-grayish-yellow: #E5E4E1;
--dark-grayish-orange:#A79E91;
--very-dark-grayish-yellow: #36362C;

// violet theme

--very-dark-violet: #17062A;
--violet: #1E0936;
--dark-violet:#56077C;
--vivid-magenta: #BE15F4;
--pure-cyan: #00DED0;
--soft-cyan: #6CF9F1;
--darker-violet:#331C4D;
--dark-magenta: #881C9E;
--light-yellow: #FFE53D;
--very-dark-blue: #1A2327;

}

.body{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    background-color: var(--dark-grey);
    color: var(--white);
    margin: 0;
}

.link{
    text-decoration: none;
    color: var(--dark-blue);
    letter-spacing: -0.001em;
}

.link:hover{
    color: var(--accent-red);
}

.link:focus{
    color: var(--accent-red);
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    min-width: 320px;
    max-width: 327px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: 768px) {
    max-width: 540px;
    }
}

.attribution{
    padding-top: 30px;
    padding-bottom: 20px;
    
}

.fe-mentor {
    margin-bottom: 10px;
}
.ann {
}