
.header{
    width: 100%;
    height: 42px;
    padding-top: 30px;
    padding-bottom: 32px;

    @media only screen and (min-width: 768px) {
        padding-top: 96px;
        padding-bottom: 36px;
        height: 44px;
    }}


    
    .header-content{
        display: flex;
        align-items: baseline;
        gap: 130px;
        @media only screen and (min-width: 768px) {
            gap: 342px;
        }
    }
    
    .app-title{
        margin: 0;
        line-height: normal;
        font-size: 32px;
        
    }
    
    .theme{
        display: flex;
        align-items: end;
        gap: 26px;
    }
    
    .theme-title{
        margin: 0;
        font-size: 12px;
        text-transform: uppercase;

        padding-bottom: 5px;
    }

    .switcher{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .switcher-position{
        font-size: 12px;

        padding-left: 10px;
        padding-right: 10px;

        display: flex;
        justify-content: space-between;

    }

    .slider-btn {
        position: relative;
    
    }
    
    .slider-btn::before {
        bottom: 0;
        content: '';
        display: inline-block;
        margin: auto;
        background-color: var(--blue);
        border-radius: 50px;
        top: 0;
        height: 26px;
        width: 71px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.493);
    }
    
    
    /* circle */
    .slider-btn::after {
        bottom: 0;
        content: '';
        display: inline-block;
        margin: auto;
        background-color: var(--accent-red);
        border-radius: 50%;
        position: absolute;
        top: -20px;
        left: 5px;
        height: 16px;
        width: 16px;
        transition: .4s;
        
    }
    .body-light{
        .slider-btn::after{
            background-color: var(--grayish-red);
        }
    }
    
    
    .toggle-radio {
        /* hide the "default" checkbox/appearance */
        position: absolute;
        opacity: 0;
        cursor: pointer;
        z-index: 10;
    }

    .light{
        left: 22px;
    }

    .violet{
        left: 44px;
    }

    .basic:checked~.slider-btn::before{
 
    }
    .basic:checked~.slider-btn::after {
        transform: translateX(0px);
    }
    
    .light:checked~.slider-btn::before {
  background-color: var(--light-grey);
    }
    
    .light:checked~.slider-btn::after {
        transform: translateX(20px);
    }

    .violet:checked~.slider-btn::before {
 
    }
    
    .violet:checked~.slider-btn::after {
        transform: translateX(40px);
    }